/*  your css code here. If applicable */
#testimonial {
	background-color: #f5f5f5;
	padding: 20px;
	width: 100%;
}
#testimonial div {
	padding: 5px 10px;
	background-color: white;
	border: 2px solid grey;
	margin-top: 20px;
}
#testimonial div p {
	font-size: 12px;
}
#testimonial span {
	font-style: italic;
	text-align: end;
}
#testimonial div {
	display: flex;
	flex-direction: column;
}

