/*  your css code here. If applicable */
#testimonial {
	background-color: #f5f5f5;
	padding: 30px;
	width: 100%;
}
#testimonial div {
	padding: 10px;
	background-color: white;
	border: 2px solid grey;
	margin-top: 20px;
}
#testimonial span {
	text-align: right;
	font-style: italic;
}